<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>이제부터 시작!</h1>

  <form action="/match/" method="GET">
    당신의 이름: <input type="text" name="me">
    당신이 연모하는 분의 이름: <input type="text" name="you">
    <button type="submit">제출</button>
  </form>

</body>
</html>

cross side reference
csrf middleware token 작동 중
index에서..